/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body {
    font-family: Arial sans-serif;
    font-size: 14px;
}
.f1 {
    font-size: 30px;
    color: blue;
}
.f3 {
    font-size: 25px;
}
.f4 {
    font-weight: 700;
}
.f5 {
    color: red;
}
.h1 {
    font-size: 25px;
}
.h2 {
    text-align: right;
    text-decoration: overline;
}
.h3 {
    text-transform: uppercase;
}
.h4 {
    font-style: italic;
}
.h5 {
    text-decoration: line-through;
}
.h6 {
    text-align: center;
}
.h7 {
    font-size: 20px;
    font-weight: 600;
}
.h8 {
text-shadow: 1px 1px 1px #000000;
}